@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


body {
    background-color: rgb(215, 250, 236);
}

h1 {
    font-size: 28px;
}

.logo {
    width: 90px;
    height: 90px;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    width: 100%;
    background-color: beige;
    display: flex;
    flex-direction: row;
}

main {

}

footer {
    height: 100px;
    width: 100%;
    background-color: black;
}

.copyright {
    color: white;
}

.img_item {
    width: 200px;
    height: 200px;
}